@media (max-width: 1200px) {
  .about-section {
    padding: 1rem;
    flex-direction: column-reverse;
  }
  .about-img {
    width: 100%;
    height: 500px;
  }
  .about-img img {
    width: 70%;
    height: 400px;
  }
  .about-desc {
    width: 100%;
    margin-top: 2rem;
  }
  .about-desc h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .vision-mission {
    padding: 1rem;
  }
  .vision {
    flex-direction: column;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .vision-desc {
    width: 100%;
  }
  .vision-desc h1 {
    width: 100%;
    text-align: center;
  }
  .vision-img {
    width: 100%;
  }
  .quote-from-ceo {
    padding: 1rem;
  }
  .quote {
    width: 100%;
    padding: 1rem;
  }
  .accomplishments {
    padding: 1rem;
    flex-direction: column;
  }
  .item {
    width: 100%;
    margin-top: 1rem;
  }
}
